 #baggrundscirkel1 {
    width: 100%;
    height: 100vh;
    background-image: url('billeder/cirkel1.svg'); /*gør buen til baggrundsbillede*/
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    display: flex;              
    justify-content: center;    
    align-items: flex-start;        
}
 
 /* Container */
  .container1 {
    width: 75%;                   /* Gør plads til de brede kort */
    margin-top: 40px;
  }
  
  
  /* Wrapper som indeholder alle tre kort */
  .card-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 40px;                       /* LUFT mellem kortene */
  }
  
  /* Selve kortene */
  .card {
    width: 22%;                    /* Gør kortene bredere */
    background: #ffffff;
    border-radius: 28px;
    padding: 40px 35px 35px;
    text-align: center;
    border: 7px solid transparent;
    transition: 0.25s ease;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
    cursor: pointer;
    margin-top: 40px;
  }
  
  .card h2 {
    font-size: 22px;
    margin-bottom: 25px;
  }
  .card p {
    font-size: 15px;
    color: #332823;
  }
  
  /* Ikon baggrundscirkel */
  .icon-circle {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: #ffffff;
    margin: 0 auto 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon {
    width: 160px;
  }
  
  /* Tekst under ikonet */
  .desc {
    font-size: 16px;
    line-height: 1.55;
    margin-bottom: 30px;
    color: #332823;
  }
  
  /* Knap */
  .btn {
    width: 80%;
    background:  #E4B66C;
    color: #332823;
    border: none;
    border-radius: 10px;
    padding: 14px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
  }
  
    /* Knap */
  #btn {
    width: 80%;
    background:  #E4B66C;
    color: #332823;
    border: none;
    border-radius: 10px;
    padding: 14px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
  }
  
  /* VALGT kort */
  .card.selected {
    border-color: #d3ad73;           /* Gul ramme */
    box-shadow: 0 12px 35px rgba(0,0,0,0.12);
  }
  
  .card.selected .btn {
    background: #C4913D;
    color: #ffffff;
  }
  