*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
}

body {
    background-color: #FBF4EE;
    color: #332823;
}
/*Generelle CSS regler*/

/*overskrift flexboks*/

.overskrift{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.overskrift h1{
    font-size: 27px;
    font-weight: 700;
    text-align: center;
}
.overskrift img{
    width: 50px;
    height: 50px;
}

/*container med de to bokse*/

.container {
   width: 75%;
   height: 75%;
   display: flex;
   justify-content: center;   /* Horisontal centrering */
   align-items: flex-start;    /* Flugter til toppen */
   margin-top: 40px;
}

/*baggrundsbillede2 flexboks*/

#baggrundscirkel1 {
    width: 100%;
    height: 100vh;
    background-image: url('billeder/bue1.svg'); /*gør buen til baggrundsbillede*/
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    display: flex; 
    flex-direction: column;              
    justify-content: center;    
    align-items: center;        
}
/*brun boks med knap i*/
#boksogknap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 28%; 
    gap: 30px;
}
#boks2{
    width: 100%; 
    height: 85%;
    background-color:#534038;
    border-radius: 50px;
    color: white;
}
#knap button{
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 10px;
    background-color: #E4B66C;
    border: none;
    font-size: 16px;
}
#knap button:hover{
    background-color: #C4913D;
    color: white;
    cursor: pointer;
}


/*boks med stand*/
#boks1{
    width: 70%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
}
#stand{
    width: 80%;
    height: 80%;
    background-color: white;
    padding: 60px;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
#standinfo{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    margin-left: 20px;
}
#standinfo img{
    width: 40px;
    height: 40px;
}
#standinfo p{
    margin-right: 40px;
    color: #332823;
}
/*cursor på tal og farve*/
.ledig text {
    cursor: pointer;
    fill: #507b50; /* mørk grøn farve ved hover */
}

/*hover på figurer*/

.ledig rect, .ledig path, .ledig polygon {
    cursor: pointer;
    fill: #D9F0D9; /* lys grøn farve */
    transition: 0.2s ease; /* gør hover smooth */
}
.ledig rect:hover, .ledig path:hover, .ledig polygon:hover {
    fill: #88C388; /* mørk grøn farve ved hover */
}
/* Når en stand er valgt */
.valgt rect,
.valgt path,
.valgt polygon {
    fill: #5FA76A !important;  /* permanent mørk grøn */
    transition: 0.2s ease;
}

.valgt text {
    fill: white !important; /* hvid tekst */
}

.optaget rect, .optaget path, .optaget polygon {
    cursor: not-allowed;
    transition: 0.2s ease; /* gør hover smooth */
}
.optaget rect:hover, .optaget path:hover, .optaget polygon:hover {
    fill: #C38894; /* mørk rød farve ved hover */
}
/*boks 2 valgt stand*/
#valgt-stand{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding: 20px;
    margin-top: 40%;
    font-family: 'Source Sans 3', sans-serif;
}  

/*baggrundsbillede2 flexboks*/
#baggrundscirkel2 {
    width: 100%;
    height: 100vh;
    background-image: url('billeder/bue2.svg'); /*gør buen til baggrundsbillede*/
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    display: flex; 
    flex-direction: column;              
    justify-content: center;    
    align-items: center;        
}

/*boks1 flexboks med kort*/

#boks3{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 50px;
}
.kort{
    width: 170px;
    height: 170px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    text-align: center;
    font-family: 'Source Sans 3', sans-serif;
    cursor: pointer;
    border: 7px solid transparent; /* usynlig border */
    transition: 0.2s ease;         /* smooth animation */
}
.kort:hover {
    border-color: #C4913D; /* farven på hover-bordet */
}
.valgtkort {
    border-color: #C4913D !important;  /* hvid tekst */ 
}
.kort img {
    width: 100px;
    height: 50%;
    object-fit: contain;
    margin-bottom: 10px;
}
.kort h3 {
    font-size: 15px;
    font-weight: 500;
    height: 30%;
}

.pris {
    height: 20%;
    font-size: 20px;
    font-weight: 700;
}
.note {
    font-size: 14px;
    margin-top: -5px;
    color: #555;
    height: 5%;
}
/*brun boks med knap i*/
#boksogknap2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 28%; 
    gap: 30px;
}
#boks4{
    width: 100%; 
    height: 85%;
    background-color:#534038;
    border-radius: 50px;
    color: white;
}
#knap2 button{
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 10px;
    background-color: #E4B66C;
    border: none;
    font-size: 16px;
}
#knap2 button:hover{
    background-color: #C4913D;
    color: white;
    cursor: pointer;
}

#valgt-pris{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding: 20px;
    margin-top: 40%;
    font-family: 'Source Sans 3', sans-serif;
}   


/*indtast dine oplysninger sektion*/

/*store container til overskrift og de 2 bokse*/
#container-oplysninger{
    width: 100%;
    height: 100vh;
    display: flex; 
    flex-direction: column;              
    justify-content: center;    
    align-items: center;        
}
/*overskrift flexboks*/
#overskrift2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#overskrift2 h1{
    font-size: 27px;
    font-weight: 700;
    text-align: center;
}
#overskrift2 img{
    width: 50px;
    height: 50px;
}
/*container med de to bokse*/
#container2 {
   width: 75%;
   height: 75%;
   display: flex;
   justify-content: center;   /* Horisontal centrering */
   align-items: flex-start;    /* Flugter til toppen */
   margin-top: 40px;
}

#boks5{
    width: 70%;
}
/* Label styling */
#oplysninger-form label {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 6px;
    display: block; /* Får label til ny linje */
    color: #000;
}
#regler{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 83%;
    margin-bottom: 30px;
}
#regler p{
    font-size: 14px;
}
#regler a{
    color: #332823;
    text-align: right;
}
/* Inputfelter */
#oplysninger-form input[type="text"],
#oplysninger-form input[type="email"],
#oplysninger-form input[type="tel"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #d9ccc4;
    border-radius: 8px;
    margin-bottom: 18px;
    background-color: #fff;
}

/* Postnummer + by ligger side by side */
.row {
    display: flex
}

.row div {
    width: 44%;
}

/* Checkbox-linje */
.accept {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 10px 0 20px 0;
}

.accept input {
    width: 18px;
    height: 18px;
}


#oplysninger-form button:hover {
    background-color: #C4913D;
    color: white;
}

/*boks med knap 3*/

/*brun boks med knap i*/
#boksogknap3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 28%; 
    gap: 30px;
}
#boks6{
    width: 100%; 
    height: 85%;
    background-color:#534038;
    border-radius: 50px;
    color: white;
}
#knap3 button{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 10px;
    background-color: #E4B66C;
    border: none;
    font-size: 16px;
}
#knap3 button:hover{
    background-color: #C4913D;
    color: white;
    cursor: pointer;
}



