*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
}

body {
    background-color: #FBF4EE;
    color: #332823;
}

/*baggrundsbillede2 flexboks*/

#baggrundscirkel1 {
    width: 100%;
    height: 110vh;
    background-image: url('billeder/bue1.svg'); /*gør buen til baggrundsbillede*/
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    display: flex; 
    flex-direction: column;              
    justify-content: center;    
    align-items: center;        
}
#container {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#boks1{
    width: 72%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
#stand{
    width: 80%;
    height: 80%;
}

/*baggrundsbillede2 flexboks*/
#baggrundscirkel2 {
    width: 100%;
    height: 110vh;
    background-image: url('billeder/bue2.svg'); /*gør buen til baggrundsbillede*/
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    display: flex; 
    flex-direction: column;              
    justify-content: center;    
    align-items: center;   
    margin-bottom: 40px;     
}
/*overskrift flexboks*/

.overskrift{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}
.overskrift h1{
    font-size: 27px;
    font-weight: 700;
    text-align: center;
}
.overskrift img{
    width: 50px;
    height: 50px;
}

/*container med de to bokse*/

.container {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/*boks1 flexboks med kort*/

.boks1{
    width: 72%;
    align-items: flex-start; 
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 50px;
}
.kort{
    width: 190px;
    height: 190px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    text-align: center;
    font-family: 'Source Sans 3', sans-serif;
    cursor: pointer;
    border: 10px solid transparent; /* usynlig border */
    transition: 0.2s ease;         /* smooth animation */
}
.kort:hover {
    border-color: #C4913D; /* farven på hover-bordet */
}
.kort img {
    width: 100px;
    height: 60%;
    object-fit: contain;
    margin-bottom: 10px;
}
.kort h3 {
    font-size: 16px;
    font-weight: 600;
    height: 20%;
}

.pris {
    height: 15%;
    font-size: 20px;
    font-weight: 700;
}
.note {
    font-size: 11px;
    margin-top: -5px;
    color: #555;
    height: 5%;
}


.boks2{
    width: 25%; 
    height: 85%;
    background-color:#534038;
    border-radius: 50px;
    color: white;
}
#valgt-pris{
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    padding: 20px;
    margin-top: 40%;
    font-family: 'Source Sans 3', sans-serif;
}
